<div class="boxed userhome">
  <div class="container">
    <app-adminheader></app-adminheader>
  	<div class="content">
  	  <div class="sec sec2">
  	    <h2 class="title">Bookmark Folders</h2>
  	    <div class="folder">
  	  	  <ul class="folder-ul">
	        <li><a href=""><img src="assets/img/folder.png" class="fold"></a><p>Bookmark Name</p></li> 
	        <li><a href=""><img src="assets/img/folder.png" class="fold"></a><p>Bookmark Name</p></li> 
	        <li><a href=""><img src="assets/img/folder.png" class="fold"></a><p>Bookmark Name</p></li> 
	        <li><a href=""><img src="assets/img/folder.png" class="fold"></a><p>Bookmark Name</p></li> 
	        <li><a href=""><img src="assets/img/folder.png" class="fold"></a><p>Bookmark Name</p></li> 
	        <li><a href=""><img src="assets/img/folder.png" class="fold"></a><p>Bookmark Name</p></li> 
	      </ul>	
  	    </div>
  	  </div>
    </div>
    <app-footerbar></app-footerbar>
  </div>
</div>