<div class="boxed singlefolder">
  <div class="container">
    <app-adminheader></app-adminheader>
  	<div class="content">
  	  <div class="sec sec1">
  	  	<h2 class="title">Folder Name</h2>
  	  	<div class="bmlist">
		  <ul>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  	<li><a href="">https://www.webspero.com/</a></li>
		  </ul>  	
  	  	</div>
  	  </div>
    </div>
    <app-footerbar></app-footerbar>
  </div>
</div>