<div class="boxed userlist">
  <div class="container">
    <app-adminheader></app-adminheader>
  	<div class="content">
  	  <div class="sec sec1">
  	  	<div class="adduser"><a fref="">Add New Users</a></div>
  	  	<div class="allusers">
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	  <div class="singleuser">
  	  	  	<span class="uname">User Name</span> <span class="uroles">( Seo )</span>
  	  	  </div>
  	  	</div>
  	  </div>
    </div>
    <app-footerbar></app-footerbar>
  </div>
</div>