<!-- <div class="boxed forgot">
  <div class="container">
  	<div class="logo">
  	  <h2>LOGO</h2>
  	</div>
  	<form> 
	  <div class="form-row">
		<div class="form-group col-md-12">
		  <label>Enter your registerd Email ID</label>
		  <span class="emailadd">
		  	<input type="Email" Name="Email" class="form-control" id="regenail" placeholder="Email">
		  </span>
		</div>
	  </div>
	<button class="fpwd btn col-md-12 btn-primary">Get email for password reset</button>
	</form>

  </div>
</div>		 -->
<div class="boxed register">
	<div class="container">
		<div class="logo">
		  <h2>LOGO</h2>
		  <p>Welcome to TeamSOW Bookmarks</p>
		</div>
<!-- 		<div *ngIf="msg">
			<span class="label">{{showmsg}}</span>
		</div> -->
		<form [formGroup]="resetPasswordForm" (ngSubmit) = "resetPassword(resetPasswordForm.value)"> 
		<div class="form-row">
		  <div class="form-group col-md-12">
			<label>Email *</label>
			<span class="emailadd">
				<input type="Email" formControlName="email" autocomplete="off" class="form-control" id="useremail" placeholder="Email" required>
			</span>
		  </div>
		  <div class="form-group col-md-12">
			<label>New Password *</label>
			<span class="new-pass">
			   <input type="password" formControlName="setpassword" autocomplete="off" id="newpass" class="form-control" placeholder="New Password" required>
			</span>
		  </div>
		  <div class="form-group col-md-12">
			<label>Confirm Password *</label>
			<span class="confirm-pass">
			   <input type="password" formControlName="confirmPass" autocomplete="off" id="confirmpass" class="form-control" placeholder="Confirm Password" required>
			</span>
		  </div>
		</div>
		
		<button [disabled]="!resetPasswordForm.valid"  class="col-md-12 btn btn-primary">Reset Password</button>
	  </form>
  
	</div>
  </div>