<div class="boxed dash">
  <div class="container">
    <app-adminheader></app-adminheader>
    <div class="content">
<!--       <div class="sec sec1">
        <h2 class="title">Add Group</h2>
        <div class="addfolder">
          <a href=""><img src="assets/img/add-folder.png" class="addf"></a>
        </div>
      </div> 
       <div class="sec sec2">
        <h2 class="title">Bookmark Folders</h2>
        <div class="folder">
          <ul class="folder-ul">
            <li><a href=""><img src="assets/img/folder.png" class="fold"></a>
              <p>Bookmark Name</p>
            </li>
            <li><a href=""><img src="assets/img/folder.png" class="fold"></a>
              <p>Bookmark Name</p>
            </li>
            <li><a href=""><img src="assets/img/folder.png" class="fold"></a>
              <p>Bookmark Name</p>
            </li>
            <li><a href=""><img src="assets/img/folder.png" class="fold"></a>
              <p>Bookmark Name</p>
            </li>
            <li><a href=""><img src="assets/img/folder.png" class="fold"></a>
              <p>Bookmark Name</p>
            </li>
            <li><a href=""><img src="assets/img/folder.png" class="fold"></a>
              <p>Bookmark Name</p>
            </li>
          </ul>
        </div>
      </div> 
      <div class="sec sec3">
        <h2 class="title">Category</h2>
        <div class="folder">
          <ul class="folder-ul">
            <li><a (click)="catergoryAdd()"><i class="fa fa-user-plus fa-fw fa-3x" aria-hidden="true"></i></a>
              <p>Add Category</p>
            </li>
            <span *ngFor="let category of categorylist">
              <li><a (click)="openCategory(category)"><i class="fa fa-user-circle-o fa-fw fa-3x" aria-hidden="true"></i></a>
                <p>{{category.category}}</p>
              </li>
            </span>

          </ul>
        </div>
      </div>-->
    </div>
    <app-footerbar></app-footerbar>
  </div>
</div>