.editrole .container {
    padding: 0;
}

.content {
    padding: 20px;
}

label {
    width: 100%;
    float: left;
    line-height: initial;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2px;
    background: transparent;
    color: #000;
    font-size: 12px;
    padding: 0px 1px 5px;
    letter-spacing: 1px;
}

.form-control {
    height: 40px;
    border-radius: 0;
    width: 100%;
    float: right;
    border: none;
    border-bottom: 1px solid #ececec;
    padding: 0;
    background: #f8f8f8;
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #f6cb1e !important;
}

.form-control::placeholder {
    font-size: 12px;
    color: #ccc;
}

.editrole .col-md-12 {
    margin-bottom: 10px;
    display: inline-block;
}

.editrole button {
    background: #f6cb1e;
    color: #fff;
    border: none;
    padding: 8px 20px 9px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
}

.editrole button:focus {
    box-shadow: 0px 0px 10px -2px #0004;
    outline: none;
}

.col-md-6 {
    display: inline-block;
}

label.custom-control-label {
    padding: 0 0px 10px 10px;
}

label.custom-control-label:before {
    left: -15px;
    top: 1px;
    border-radius: 20px;
    background: #f8f8f8;
    border: 2px solid #f6cb1e;
}

.col-md-6 .custom-control-input:checked~.custom-control-label::before {
    background: #f6cb1e;
    border-color: #f6cb1e;
}

.col-md-6 .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.col-md-12:nth-child(2) label {
    margin-bottom: 10px;
}

.editrole button.btn.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border: none;
    margin-left: 10px;
}